{% extends 'layouts/index.html' %}

{% block content %}
    <style type="text/css" xmlns="http://www.w3.org/1999/html">
    .product_block {
        width: 80%;
        margin-left: 10%;
        margin-top: 50px;
    }
    .product_block > img {
        width: 100%;
    }
    .dates {
        display: flex;
        justify-content: space-between;
    }
    </style>
    <div class = "product_block">
        {% if product.image %}
            <img src= "/media/{{ product.image }}" alt="">
        {% else %}
            <img src="https://cdn.shopify.com/s/files/1/0533/2089/files/placeholder-images-image_large.png?format=jpg&quality=90&v=1530129081" alt="">
        {% endif %}
        <div class="info">
            <h1>{{ product.title }}</h1>
            <h4>{{ product.description }}</h4>
            <div class="dates">
                <h5>Date {{ product.best_before_date }}</h5>
            </div>
        </div>
        </div>
    {% if not user.is_anonymous%}
        <div class="create_review">
        <form action="/products/{{ product.id }}/" method="post">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Add review">
        </form>
        </div>
    {% endif %}
    <div class="reviews">
    {% for reviews in review %}
    <div class="review_block">
        <h5>{{ review.text }}</h5>
    </div>
    {% endfor %}
    </div>
{% endblock %}
